*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.carousel{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
}